.form-control,
select {
  border: 1.5px solid #ababab !important;
  border-radius: 8px;
  width: 100%;
  padding: 5px 10px;
  margin-top: 10px;
}

.btn-primary {
  min-width: 100px !important;
  height: 55px !important;
}

.btn-confirm {
  padding: 10px 6px;
  border-radius: 8px;
  background-color: #007bff;
  color: white;
  min-width: 100px;
  font-size: 1.5rem;
  cursor: pointer;
}
