.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-inline: 15px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --primary-color: #ff7b29;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
}

.desc {
  font-family: "Inter", sans-serif;
  color: #676a6c;
  font-weight: 400;
  line-height: 1.62em; /* 162.5% */
}

/* Common CSS */
.btn {
  box-sizing: border-box;
  min-width: 191px;
  padding: 0 30px;
  height: 66px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1em; /* 100% */
  letter-spacing: 0.01rem;
  background-color: var(--primary-color);
  border-radius: 12px;
  box-shadow: 0px 30px 30px -18px rgba(229, 89, 54, 0.16);
}

img {
  display: block;
}

.btn:hover {
  opacity: 0.8;
}

/* CSS TO CREATE STICKY NAVBAR */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
}

.sticky + .main-content {
  padding-top: 110px;
}

.subTitle {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25em; /* 125% */
  margin-bottom: 16px;
}
