/* MAIN CONTENT */
.hero {
  padding: 52px 0;
  height: calc(100vh - 97px);
}

.hero__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  align-items: center;
}

.hero__title {
  color: #2d3134;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.12em;
  margin-bottom: 17px;
}

.hero__desc {
  max-width: 352px;
  color: #676a6c;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.62em; /* 162.5% */
  margin-bottom: 51px;
}

.hero__actions {
  display: flex;
  align-items: center;
  columns: 10px;
}

.hero__wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #1f1a1e;
  background: url("../icon/background-hero.svg") no-repeat;
  background-position: center center;
}

.hero__stat-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.hero__stat__wrapper-image {
  width: 58px;
  height: 58px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 12px 12px 59px 0px rgba(229, 89, 54, 0.16);
  -webkit-box-shadow: 12px 12px 59px 0px rgba(229, 89, 54, 0.16);
  -moz-box-shadow: 12px 12px 59px 0px rgba(229, 89, 54, 0.16);
  flex-shrink: 0;
}

.hero__stat-item + .hero__stat-item {
  margin-top: 44px;
}

.hero_stat-number {
  color: #0a192d;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.33em; /* 133.333% */
}

.hero_stat-desc {
  margin-top: 4px;
  color: #777f8b;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43em; /* 142.857% */
}

.hero__decoration {
  position: relative;
}

.hero_card {
  position: absolute;
  bottom: 35px;
  left: -17px;
  width: 163px;
  height: 202px;
  border-radius: 16px;
  box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);
  padding: 21px 31px 27px;
  text-align: center;
  background: #fff;
}

.hero__card-icon {
  border: 10px solid #d3ed68;
  border-radius: 50%;
  width: 91px;
  height: 91px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero__card-number {
  color: #0d1e3f;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.22em; /* 122.222% */
}

.hero__card-desc {
  margin-top: 2px;
  color: #a5a8b4;
  font-family: Inter;
  font-size: 0.8rem;
  font-weight: 500;
}

.hero__card-count {
  margin-top: 18px;
  color: #0d1e3f;
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1em; /* 100% */
}

.hero-card__desc-total {
  margin-top: 9px;
  color: #aeb4cf;
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1em; /* 100% */
}

.search-bar {
  margin-top: 100px;
  background: #fff;
}

.search-bar__wrapper {
  max-width: 750px;
  fill: #fff;
  filter: drop-shadow(0px 40px 100px rgba(110, 110, 110, 0.08));
  padding: 25px 40px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #0a192d;
}

.search-bar__title {
  margin-bottom: 16px;
  color: #0a192d;
  font-family: Inter;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.search-bar__choose {
  color: #697280;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

.search-bar__choose::after {
  content: url("../icon/arrowDown.svg");
  margin-left: 8px;
}

.search-bar__action {
  min-width: 170px;
  height: 64px;
  background: #132742;
  box-shadow: 0px 25px 25px -20px rgba(0, 0, 0, 0.2);
}

.fa-solid.fa-magnifying-glass {
  margin-right: 10px;
}

/* BEST TOUR */
.best-tour {
  padding: 90px 0;
}

.best-tour__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.best-tour__desc {
  max-width: 507px;
  color: #676a6c;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.62em; /* 162.5% */
}

.best-tour__list {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.best-tour__item {
  border-radius: 12px;
  box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
}

.best-tour__wrapper-img {
  width: 100%;
  height: 322px;
  border-radius: inherit;
}

.best-tour__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.best-tour__body {
  padding: 20px 28px;
}

.best-tour__price {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33em; /* 133.333% */
  margin-bottom: 6px;
}

.best-tour__name {
  color: #1f1d63;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em; /* 150% */
  margin-bottom: 20px;
}

.best-tour__address,
.best-tour__date,
.best-tour__time {
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43em; /* 142.857% */
  margin-bottom: 10px;
}

.best-tour__desc {
  margin-top: 12px;
}

/* CHOOSE */
.choose {
  padding: 100px 0;
}

.choose__wrapper {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  column-gap: 140px;
}

.choose__decoration {
  width: 436px;
  height: 518px;
  border-radius: 64px;
}

.choose__img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose__title {
  margin-bottom: 16px;
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25em; /* 125% */
}

.choose__desc {
  margin-bottom: 70px;
  color: #676a6c;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.62em; /* 162.5% */
  max-width: 493px;
}

.choose__item {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.choose__item + .choose__item {
  margin-top: 40px;
}

.choose__wrapper-icon {
  flex-shrink: 0;
  width: 54px;
  height: 54px;
}
.choose__item-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose__sub-title {
  margin-bottom: 8px;
  color: #2d3134;
  font-weight: 600;
  line-height: 1.62em; /* 162.5% */
  max-width: 300px;
}

.choose__sub-desc {
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42em; /* 142.857% */
  max-width: 324px;
}

.trending {
  padding: 100px 0;
}

.trending-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__title {
  color: #2d3134;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25em; /* 125% */
  margin-bottom: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.trending__arrows {
  display: flex;
  align-items: center;
  column-gap: 22px;
}

.trending__arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.trending__arrow:hover {
  border-color: var(--primary-color);
  color: white;
  background-color: var(--primary-color);
}

.trending-list {
  display: flex;
  gap: 30px;
  height: 458px;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.trending-list::-webkit-scrollbar {
  width: 1em;
  height: 4px;
}

.trending-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.trending-list::-webkit-scrollbar-thumb {
  background-color: #ffa733;
  outline: 1px solid #ffa733;
}

.trending-item {
  padding: 15px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 40px 90px 0px rgba(0, 0, 0, 0.06);
  border: 1.5px solid #eee;
}

.trending__wrapper-thumb {
  width: 356px;
  height: 190px;
  border-radius: inherit;
}

.trending__thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.trending__body {
  padding: 18px 24px;
}

.trending__sub-title {
  color: #2d3134;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em; /* 150% */
  margin-bottom: 8px;
}

.trending__desc {
  margin-bottom: 25px;
  color: #8a8a8a;
  font-family: Inter;
  font-size: 1.62rem;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
}

.trending__book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.trending__price {
  color: #2d3134;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.33em; /* 133.333% */
}

.trending__book-action {
  min-width: 100px;
  background: #31c3e0;
  font-size: 1.4rem;
  font-weight: 500;
  height: 38px;
}

.trending__last-row {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.trending__wrapper-icon {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.04);
}

.trending__brand-name {
  font-size: 1.4rem;
  font-weight: 500;
}

/* COUNTRY */
.country {
  padding: 100px 0;
}

.country__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.country__desc {
  color: #676a6c;
}

.country__list {
  margin-top: 40px;
  display: grid;
  grid-template-areas:
    "one three four four"
    "two three five six";
  grid-template-columns: 0.58fr 0.78fr 0.38fr 1fr;
  row-gap: 26px;
  column-gap: 30px;
}

.country__link {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 20px;
  padding: 22px 24px;
  position: relative;
}

.country__link:nth-child(1) {
  grid-area: one;
}

.country__link:nth-child(2) {
  grid-area: two;
}

.country__link:nth-child(3) {
  grid-area: three;
  height: 100%;
}

.country__link:nth-child(4) {
  grid-area: four;
}

.country__link:nth-child(5) {
  grid-area: five;
}

.country__link:nth-child(6) {
  grid-area: six;
}

.country__label {
  width: 45px;
  height: 28px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.coutry__body {
  position: absolute;
  bottom: 20px;
}

.country__name {
  color: #fff;
  text-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.33em; /* 133.333% */
}

.country__subDesc {
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em; /* 150% */
}

/* TOUR */
.tour {
  padding: 100px 0;
}

.tour__title {
  text-align: center;
}

.tour__list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
}

.tour__item {
  border-radius: 12px;
  border: 2px solid #ececec;
  padding: 44px 0;
  text-align: center;
}

.tour__wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tour__icon {
  width: 70px;
  height: 80px;
  object-fit: contain;
}

.tour__type {
  color: #2d3134;
  font-family: Inter;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1em; /* 100% */
  margin-bottom: 18px;
}

.tour__desc {
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  font-weight: 600;
  line-height: 1em; /* 100% */
}

.tour__price {
  color: var(--primary-color);
}

/* COMMENT */
.comment {
  padding: 100px 0;
}

.comment__wrapper {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  column-gap: 100px;
  align-items: center;
}
.comment__decoration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../icon/comment-bg-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.comment__img {
  width: 310px;
  height: 358px;
  object-fit: cover;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
}

.comment__title {
  margin-bottom: 22px;
}

.comment__say {
  margin-bottom: 60px;
  color: #676a6c;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.55em; /* 155.556% */
}

.comment__actor {
  display: flex;
  column-gap: 18px;
}

.actor__wrapper-avatar {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
}

.actor__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.actor__name {
  margin-bottom: 2px;
  color: #000;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.actor__job {
  margin-bottom: 14px;
  color: #747474;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1em; /* 100% */
  letter-spacing: -0.01em;
}

.actor__rating {
  font-size: 1.2rem;
  color: #ffb23b;
}

/* GUIDE */
.guide {
  padding: 100px 0;
}

.guide__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px;
}

.guide__title {
  text-align: center;
}

.guide__desc {
  position: relative;
  text-align: center;
  max-width: 733px;
  margin-left: auto;
  margin-right: auto;
}

.guide__desc::after {
  content: url("../icon/dashed-line.svg");
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.guide__content {
  margin-top: 60px;
}

.guide__main-img {
  width: 542px;
  height: 510px;
  object-fit: cover;
  border-radius: 12px;
}

.guide__main-row {
  margin-top: 42px;
  display: flex;
  justify-content: space-between;
}

.guide__subTitle {
  color: #2d3134;
  font-family: Inter;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.46em; /* 146.154% */
  max-width: 360px;
}

.guide__date {
  color: #676a6c;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1em; /* 100% */
}

.guide__subDesc {
  margin-top: 14px;
  color: #676a6c;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.44em; /* 144.444% */
  max-width: 412px;
}

.guide__item {
  display: flex;
  column-gap: 37px;
}

.guide__item + .guide__item {
  margin-top: 34px;
}

.guide__thumb {
  width: 220px;
  height: 220px;
  border-radius: 12px;
  object-fit: cover;
}

/* SUBSCRIBE */
.subscribe {
  padding: 100px 0;
}

.subscribe__wrapper {
  border-radius: 20px;
  background: #e8c400;
  padding: 70px 0;
  text-align: center;
}

.subscribe__title {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25em; /* 125% */
  margin-bottom: 6px;
}

.subscribe__desc {
  color: rgba(255, 255, 255, 0.88);
  text-align: center;
  max-width: 425px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 1.62em; /* 162.5% */
  margin-bottom: 42px;
}

.subscribe__form {
  position: relative;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.subscribe__email {
  width: 100%;
  border-radius: 12px;
  background: #fff;
  padding: 0px 12px 0px 26px;
  height: 60px;

  color: #0a192d;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1em; /* 100% */
}

.subscribe__email::placeholder {
  color: #b3b4b5;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1em; /* 100% */
}

.subscribe__submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  height: 40px;
  width: 40px;
  background: var(--primary-color);
  border-radius: 12px;
  color: white;
  cursor: pointer;
}
